body {
	margin: 0 0;
	font-family: "Oswald", sans-serif;
	background-color: #222;
	scroll-behavior: smooth;
}
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 7% 2fr 2fr;
	grid-template-rows: minmax(min-content, auto);
	background-color: #000;
	align-items: center;
	padding-bottom: 5px;
	box-shadow: 2px 0px 20px 10px #000, 5px 0px 7px 2px #F00;
	z-index: 15;
}
#header-img {
	padding: 10px 10px;
	width: 100%;
	min-height: 75px;
	ming-width: 75px;
	object-fit: cover;
}
#nav-bar {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-column: 3/4;
	margin: 0 10px;
	height: 100%;
	align-items: stretch;
}
.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #DDD;
	transition: background-color ease 0.5s, color ease 0.2s;
}
.nav-item:hover {
	background-color: grey;
	color: #300;
}
.nav-link {
	white-space: pre;
	color: inherit;
	display: inline-block;
	text-align: center;
	/*width: 100%;*/
	padding: 20px 10px;
	text-decoration: underline;
	/*font-family: sans-serif;*/
	font-size: 1.5rem;
	transition: all ease 0.5s;
}
/*.nav-link:hover {
	background-color: grey;
}*/
main {
	position: relative;
	/*padding-top: 20px;*/
	margin-top: 17vh;
}
section {
	border-top: 5vh solid #300;
}
h1, h2, h3 {
	margin: 0 0 20px 0;
	text-align: center;
	width: 100%;
	color: #DDD;
}
h1 {
	font-size: 5vh;
}
h2 {
	font-size: 4vh;
}
h3 {
	font-size: 3vh;
	margin-bottom: 5px;
}
footer h3 {
	font-size: 2.4vh;
	font-family: "Open Sans";
}
a {
	color: inherit;
}
#feature-image {
	width: 100%;
}
#description {
	width: 100%;
	position: relative;
	margin-bottom: -10px;
	border: none;
}
.desc-item {
	background-color: #444a;
	z-index: 4;
	color: #111;
	position: absolute;
	width: 25%;
	padding: 10px 10px;
	font-size: 16pt;
	line-height: 15pt;
	text-align: justify;
}
.desc-item:nth-child(1) {
	margin-left: 5px;
	top: 3%;
	left: 3%;
}
.desc-item:nth-child(2) {
	top: 40%;
	right: 2%;
	margin-right: 5px;
	
}
.desc-item:nth-child(3) {
	margin-left: 5px;
	bottom: 3%;
	left: 3%;
}
#video {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 0 30px 0;
}
#pricing {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 40px;
}
.item {
	/*perspective: 100px;*/
	position: relative;
	background-color: #444;
	width: 30%;
	display: inline-block; 
	border: #AAA solid 2px;
	border-radius: 2px;
	margin: 3px;
	padding: 5px;
	z-index: 5;
}
.item * {
	position: relative;
	z-index: 5;
}
.hidden-number {
	/*transform: translateZ(-20px);*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -5px;
	left: 0px;
	font-size: 1500%;
	height: 100%;
	width: 100%;
	color: #0000;
	z-index: 3;
	transition: color 0.5s ease-in-out;
}
.item:hover .hidden-number {
	color: #333a;
}
ul {
	color: #BBB;
}
#contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0;
}
#form {
	width: 40%;
	display: flex;
	align-items: center;
}
#email {
	border: none;
	border-radius: 3px;
	background-color: #444;
	font-size: 1rem;
	padding: 7px 6px;
	width: 80%;
	margin: 0 5px;
}
#submit-button {
	font: 12pt Oswald;
	color: #AAA;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	width: 15%;
	background-color: #444;
	height: 100%;
	margin: 0 5px;
}
footer {

	padding: 10px 0;
	background-color: #300;
}
@media screen and (max-width: 600px) {
	#header {
		grid-template-columns: 10% 1fr;
	}
	#description {
		margin-bottom: 0px;
	}
	#description-div {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px 0;
	}
	.desc-item:nth-child(n) {
		position: relative;
		top: initial;
		bottom: initial;
		left: initial;
		right: initial;
		width: 80%;
		margin: 10px 0;
		padding: 15px 10px;
	}
	.desc-item p {
		margin: 0 0;
	}
	.item {
		width: 100%;
		text-align: center;
	}
	.item ul {
	}
	.hidden-number {
		display: none;
	}
	#form {
		width: 100%;
	}
}