main {
	display: flex;
	justify-content: center;
}
#bio {
	width: 50%;
	padding: 3% 0.5%;
	/*margin-top: 4%;*/
	margin: 4% 5%;
	background-color: #18bfda87;
}
#bio-text {
	width: 90%;
	margin: 3% auto;
	line-height: 140%;
	font-size: 2.5vh;
	text-align: justify;
}
#headshot-div {
	width: 40%;
	display: block;
	margin: 0 auto;
}
#headshot {
	border-radius: 50%;
	width: 100%;
}