#main-section {
	position: relative;
	min-height: 100vh;
}
#title-image {
	position: relative;
	width: 100%;
	object-fit: cover;
}
.floating-card {
	padding: 10px 15px;
	background-color: #29b3d9f1;
	position: absolute;
	z-index: 7;
	margin: 0 9%;
	font-size: 3vh;
	/*box-shadow: 0 0 10px 0px #073109;*/
}
#dance-about {
	bottom: -200px;
}
#work-about {
	bottom: -1000px;
}
#choreography-section {
	background-color: inherit;
	min-height: 500px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#choreography-video {
	margin-top: 2%;
	width: 60%;
}
#choreography-section h2, #choreography-section h1 {
	text-align: center;
	flex-basis: 100%;
	margin: 1% 0;
}
footer {
	/*position: relative;*/
	bottom: 0px;
}