body {
	background-color: #29b3d9;
}
main {
	position: relative;
	margin: 70px 0 0 0;
	background-color: #29b3d9;
	/*padding: 50px 0;*/
	width: 100%;
}
main #title-image {
	position: relative;
	object-fit: cover;
	/*object-position: 0 -210px;*/
	top: 0px;
	width: 100%;
	height: 80%
	/*padding-bottom: -210px;*/
	/*transition: top ease 0.1s;*/
}
#intro {
	background-color: #29b3d9aa;
	position: absolute;
	top: 50px;
	left: 10vw;
	width: 25vw;
	z-index: 8;
	padding: 2% 5%;
	font-size: 5vh;
	line-height: 50px;
}
.floating-card {
	padding: 10px 15px;
	background-color: #29b3d9f1;
	position: relative;
	z-index: 9;
	margin: 2% 9%;
	font-size: 4vh;
	/*box-shadow: 0 0 10px 0px #073109;*/
}
#web-dev {
	top: -280px;
}
#education {
	top: 250px;
}
footer {
	bottom: -250px;
	left: 0px;
}